<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
  <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5 d-none d-sm-inline fw-bold">HUB PRO</span>
      <span class="fs-5 d-none d-sm-inline">
        <img class="logo-side" src="playicon.png" alt="logo">
      </span>

  </a>
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

      <li class="nav-item">
          <a routerLink="/Dashboard" class="nav-link align-middle px-0">
              <i class="fs-4 fa-solid fa-house"></i> <span class="ms-3 d-none d-sm-inline" >Home</span>
          </a>
      </li>

      <li class="nav-item">
        <a routerLink="/Dashboard/Peliculas" class="nav-link align-middle px-0">
            <i class="fs-4 fa-solid fa-clapperboard"></i> <span class="ms-3 d-none d-sm-inline">Peliculas</span>
        </a>
    </li>


    <li class="nav-item">
      <a routerLink="/Dashboard/Series" class="nav-link align-middle px-0">
          <i class="fs-4 fa-solid fa-clapperboard"></i> <span class="ms-3 d-none d-sm-inline">Series</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/Dashboard/Favoritos" class="nav-link align-middle px-0">
          <i class="fs-4 fa-solid fa-clapperboard"></i> <span class="ms-3 d-none d-sm-inline">Favoritos</span>
      </a>
    </li>


  </ul>




  <hr>
  <div class="dropdown pb-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/EfrenReyesD.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1">Efren</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
              <hr class="dropdown-divider">
          </li>
          <li><a (click)="onLogout()"  class="dropdown-item" routerLink="/login">Sign out</a></li>
      </ul>
  </div>
</div>
